AT_USERNAME=your_api_user@yourcompany.com
AT_SECRET=your_secret_key
AT_INTEGRATION_CODE=your_integration_code
AT_ZONE_URL=https://webservices22.autotask.net
PORT=3010
NODE_ENV=production
ALLOWED_ORIGIN=https://npb.rvmsol.com
